div{
    height: 100px;
    width: 100px;
    border: 2px solid;
    border-radius: 100px;
}

img{
    height: 100px;
    width: 100px;
    border-radius: 400px;
}

img{
    background-color: yellow;
}

@media screen and (min-width:500px) {

    img{
        height: 100px;
        width: 100px;
        
    }
    
}