body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ece4e4;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li:hover{
    color: rgb(241, 13, 13);
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    
    text-decoration: none;
}

.hero {
    background-image: url('amazing-restaurant-websites.webp');
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.menu, .about, .contact {
    padding: 20px;
    text-align: center;
}

.menu-item {
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}